<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157632243656-cejm7f6fo0nvjorp7l28m7c7b7id419t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157632243656-cejm7f6fo0nvjorp7l28m7c7b7id419t</string>
	<key>API_KEY</key>
	<string>AIzaSyDHEyzoj7010ab9jMB2MjQl-qt9VfXSFDY</string>
	<key>GCM_SENDER_ID</key>
	<string>157632243656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzhankin.SHOPPING-APP</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-4ce4b</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-4ce4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157632243656:ios:e2250ea94af93cf98a02fd</string>
</dict>
</plist>